.card-slide-evo {
  display: flex;
  margin: auto;
  padding: 20px;
  max-width: 1600px;
  justify-content: center;
  aspect-ratio: 6/2;
}

.card-evolution {
  position: relative;
  overflow: hidden;
  transition: height linear 500ms, width linear 500ms,
    transform cubic-bezier(0, 0.34, 0.55, 0.95) 500ms;

  img {
    position: absolute;
    bottom: 0;
    transition: height ease 300ms, filter ease 500ms;
  }
}
.active ~ .card-evolution {
  transform: skew(0deg, -20deg) !important;
}
.card-evolution:has(~ .active) {
  transform: skew(0deg, 20deg) !important;
}

.card-evolution:not(:hover):not(.active) {
  width: calc(((100vw - 20px) / 10));
  margin: 5px;

  img {
    width: 50%;
    height: 0;
    left: 25%;
    right: 25%;
    filter: blur(10px);
  }
}
.card-evolution:hover,
.active {
  width: calc(((100vw - 20px) / 10) * 3);
  display: flex;
  justify-content: center;
  aspect-ratio: 503/1052;
  img {
    height: 100%;
    width: auto;
    filter: blur(0);
  }
}

.card-evolution:nth-child(1) {
  background-color: #3d060b;
}
.card-evolution:nth-child(2) {
  background-color: #5a2c0b;
}
.card-evolution:nth-child(3) {
  background-color: #6f3081;
}
.card-evolution:nth-child(4) {
  background-color: #d1dad9;
}
.card-evolution:nth-child(5) {
  background-color: #ef2a46;
}
.card-evolution:nth-child(6) {
  background-color: #0d152a;
}
.card-evolution:nth-child(7) {
  background-color: #f98d4f;
}
.card-evolution:nth-child(8) {
  background-color: #61768a;
}
.card-evolution:nth-child(9) {
  background-color: #0000fe;
}
.card-evolution:nth-child(10) {
  background-color: #020202;
}
